Funcion para concatenar los archivos csv para crear 7 csv que contengan la informacion de todas las empresas extraidas

In [1]:
import os
import pandas as pd

In [4]:
def concat_csv_in_folder(folder_path):
    # Obtener la lista de archivos CSV en la carpeta
    csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]
    
    # Verificar si hay archivos CSV en la carpeta
    if not csv_files:
        print(f"No hay archivos CSV en la carpeta {folder_path}")
        return
    
    # Crear una lista para almacenar los DataFrames de cada archivo CSV
    dataframes = []
    
    # Leer cada archivo CSV y agregarlo a la lista
    for csv_file in csv_files:
        file_path = os.path.join(folder_path, csv_file)
        df = pd.read_csv(file_path)
        dataframes.append(df)
    
    # Concatenar todos los DataFrames en uno solo (uno debajo del otro)
    concatenated_df = pd.concat(dataframes, ignore_index=True)
    
    # Crear el nombre del archivo resultante
    output_file_name = f"{os.path.basename(folder_path)}_total.csv"
    
    # Guardar el DataFrame resultante como un archivo CSV en la misma carpeta
    output_file_path = os.path.join(folder_path, output_file_name)
    concatenated_df.to_csv(output_file_path, index=False)
    
    print(f"Archivos CSV en {folder_path} concatenados y guardados en {output_file_path}")

# Ruta de la carpeta principal que contiene las subcarpetas
main_folder_path = '../Clean Data'           #C:\Users\abeln\Desktop\Ironhack_clase\Projects\Final-Project-Stock-Market\Clean Data

# Iterar sobre las subcarpetas y aplicar la función a cada una
subfolders = ['balance', 'cashflow', 'data', 'income', 'quality', 'ratios', 'valuation']
for subfolder in subfolders:
    folder_path = os.path.join(main_folder_path, subfolder)
    concat_csv_in_folder(folder_path)

Archivos CSV en ../Clean Data\balance concatenados y guardados en ../Clean Data\balance\balance_total.csv
Archivos CSV en ../Clean Data\cashflow concatenados y guardados en ../Clean Data\cashflow\cashflow_total.csv
Archivos CSV en ../Clean Data\data concatenados y guardados en ../Clean Data\data\data_total.csv
Archivos CSV en ../Clean Data\income concatenados y guardados en ../Clean Data\income\income_total.csv
Archivos CSV en ../Clean Data\quality concatenados y guardados en ../Clean Data\quality\quality_total.csv
Archivos CSV en ../Clean Data\ratios concatenados y guardados en ../Clean Data\ratios\ratios_total.csv
Archivos CSV en ../Clean Data\valuation concatenados y guardados en ../Clean Data\valuation\valuation_total.csv

In [41]:
balance = pd.read_csv('../Clean Data/balance/balance_total.csv')
balance.head(4)

,enterprise_id,years,cash_and_cash_equivalents,marketable_securities,"cash,_cash_equivalents,_marketable_securities",accounts_receivable,notes_receivable,loans_receivable,other_current_receivables,total_receivables,...,balance_statement_cash_and_cash_equivalents,money_market_investments,gross_loan,allowance_for_loans_and_lease_losses,unearned_income,net_loan,securities_&_investments,other_assets_for_banks,total_deposits,other_liabilities_for_banks
0,1,1994,1203.0,55.0,1258.0,1581.0,0.0,0.0,0.0,1581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1995,756.0,196.0,952.0,1931.0,0.0,0.0,0.0,1931.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1996,1552.0,193.0,1745.0,1496.0,0.0,0.0,0.0,1496.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1997,1230.0,229.0,1459.0,1035.0,0.0,0.0,0.0,1035.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 75 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   enterprise_id                                  2281 non-null   int64
 1   years                                          2281 non-null   int64
 2   cash_and_cash_equivalents                      2078 non-null   float64
 3   marketable_securities                          2078 non-null   float64
 4   cash,_cash_equivalents,_marketable_securities  2078 non-null   float64
 5   accounts_receivable                            2281 non-null   float64
 6   notes_receivable                               2281 non-null   float64
 7   loans_receivable                               2078 non-null   float64
 8   other_current_receivables                      2281 non-null   float64
 9   total_receivables                              2281 non-null   float64
 10  inventories,_raw_materials_&_components        2078 non-null   float64
 11  inventories,_work_in_process                   2078 non-null   float64
 12  inventories,_inventories_adjustments           2078 non-null   float64
 13  inventories,_finished_goods                    2078 non-null   float64
 14  inventories,_other                             2078 non-null   float64
 15  total_inventories                              2078 non-null   float64
 16  other_current_assets                           2078 non-null   float64
 17  total_current_assets                           2078 non-null   float64
 18  investments_and_advances                       2078 non-null   float64
 19  land_and_improvements                          2078 non-null   float64
 20  buildings_and_improvements                     2078 non-null   float64
 21  machinery,_furniture,_equipment                2078 non-null   float64
 22  construction_in_progress                       2078 non-null   float64
 23  other_gross_ppe                                2078 non-null   float64
 24  gross_property,_plant_and_equipment            2078 non-null   float64
 25  accumulated_depreciation                       2078 non-null   float64
 26  property,_plant_and_equipment                  2281 non-null   float64
 27  intangible_assets                              2281 non-null   float64
 28  goodwill                                       2281 non-null   float64
 29  other_long_term_assets                         2078 non-null   float64
 30  total_long-term_assets                         2078 non-null   float64
 31  total_assets                                   2281 non-null   float64
 32  accounts_payable                               2078 non-null   float64
 33  total_tax_payable                              2078 non-null   float64
 34  other_current_payables                         2078 non-null   float64
 35  current_accrued_expense                        2078 non-null   float64
 36  accounts_payable_&_accrued_expense             2281 non-null   float64
 37  short-term_debt                                2078 non-null   float64
 38  short-term_capital_lease_obligation            2078 non-null   float64
 39  short-term_debt_&_capital_lease_obligation     2281 non-null   float64
 40  current_deferred_revenue                       2078 non-null   float64
 41  current_deferred_taxes_liabilities             2078 non-null   float64
 42  deferred_tax_and_revenue                       2078 non-null   float64
 43  other_current_liabilities                      2078 non-null   float64
 44  total_current_liabilities                      2078 non-null   float64
 45  long-term_debt                                 2078 non-null   float64
 46  long-term_capital_lease_obligation             2078 non-null   float64
 47  long-term_debt_&_capital_lease_obligation      2281 non-null   float64
 48  debt-to-equity                                 2275 non-null   float64
 49  pension_and_retirement_benefit                 2078 non-null   float64
 50  noncurrent_deferred_liabilities                2078 non-null   float64
 51  other_long-term_liabilities                    2078 non-null   float64
 52  total_long-term_liabilities                    2078 non-null   float64
 53  total_liabilities                              2281 non-null   object
 54  common_stock                                   2281 non-null   int64
 55  preferred_stock                                2281 non-null   float64
 56  retained_earnings                              2281 non-null   float64
 57  accumulated_other_comprehensive_income_(loss)  2281 non-null   float64
 58  additional_paid-in_capital                     2281 non-null   float64
 59  treasury_stock                                 2281 non-null   float64
 60  other_stockholders_equity                      2281 non-null   float64
 61  total_stockholders_equity                      2281 non-null   float64
 62  minority_interest                              2281 non-null   float64
 63  total_equity                                   2281 non-null   object
 64  equity-to-asset                                2281 non-null   float64
 65  balance_statement_cash_and_cash_equivalents    203 non-null    float64
 66  money_market_investments                       203 non-null    float64
 67  gross_loan                                     203 non-null    float64
 68  allowance_for_loans_and_lease_losses           203 non-null    float64
 69  unearned_income                                203 non-null    float64
 70  net_loan                                       203 non-null    float64
 71  securities_&_investments                       203 non-null    float64
 72  other_assets_for_banks                         203 non-null    float64
 73  total_deposits                                 203 non-null    float64
 74  other_liabilities_for_banks                    203 non-null    float64
dtypes: float64(70), int64(3), object(2)
memory usage: 1.3+ MB

In [39]:
def filtrar_no_numericos_a_nan(balance):    #Filtra un DataFrame y convierte todos los valores no numéricos en NaN.
    
    return balance.applymap(lambda x: pd.to_numeric(x, errors='coerce'))


# Filtrar y convertir no numéricos a NaN
balance = filtrar_no_numericos_a_nan(balance)

In [40]:
balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 75 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   enterprise_id                                  2281 non-null   int64
 1   years                                          2281 non-null   int64
 2   cash_and_cash_equivalents                      2078 non-null   float64
 3   marketable_securities                          2078 non-null   float64
 4   cash,_cash_equivalents,_marketable_securities  2078 non-null   float64
 5   accounts_receivable                            2281 non-null   float64
 6   notes_receivable                               2281 non-null   float64
 7   loans_receivable                               2078 non-null   float64
 8   other_current_receivables                      2281 non-null   float64
 9   total_receivables                              2281 non-null   float64
 10  inventories,_raw_materials_&_components        2078 non-null   float64
 11  inventories,_work_in_process                   2078 non-null   float64
 12  inventories,_inventories_adjustments           2078 non-null   float64
 13  inventories,_finished_goods                    2078 non-null   float64
 14  inventories,_other                             2078 non-null   float64
 15  total_inventories                              2078 non-null   float64
 16  other_current_assets                           2078 non-null   float64
 17  total_current_assets                           2078 non-null   float64
 18  investments_and_advances                       2078 non-null   float64
 19  land_and_improvements                          2078 non-null   float64
 20  buildings_and_improvements                     2078 non-null   float64
 21  machinery,_furniture,_equipment                2078 non-null   float64
 22  construction_in_progress                       2078 non-null   float64
 23  other_gross_ppe                                2078 non-null   float64
 24  gross_property,_plant_and_equipment            2078 non-null   float64
 25  accumulated_depreciation                       2078 non-null   float64
 26  property,_plant_and_equipment                  2281 non-null   float64
 27  intangible_assets                              2281 non-null   float64
 28  goodwill                                       2281 non-null   float64
 29  other_long_term_assets                         2078 non-null   float64
 30  total_long-term_assets                         2078 non-null   float64
 31  total_assets                                   2281 non-null   float64
 32  accounts_payable                               2078 non-null   float64
 33  total_tax_payable                              2078 non-null   float64
 34  other_current_payables                         2078 non-null   float64
 35  current_accrued_expense                        2078 non-null   float64
 36  accounts_payable_&_accrued_expense             2281 non-null   float64
 37  short-term_debt                                2078 non-null   float64
 38  short-term_capital_lease_obligation            2078 non-null   float64
 39  short-term_debt_&_capital_lease_obligation     2281 non-null   float64
 40  current_deferred_revenue                       2078 non-null   float64
 41  current_deferred_taxes_liabilities             2078 non-null   float64
 42  deferred_tax_and_revenue                       2078 non-null   float64
 43  other_current_liabilities                      2078 non-null   float64
 44  total_current_liabilities                      2078 non-null   float64
 45  long-term_debt                                 2078 non-null   float64
 46  long-term_capital_lease_obligation             2078 non-null   float64
 47  long-term_debt_&_capital_lease_obligation      2281 non-null   float64
 48  debt-to-equity                                 2275 non-null   float64
 49  pension_and_retirement_benefit                 2078 non-null   float64
 50  noncurrent_deferred_liabilities                2078 non-null   float64
 51  other_long-term_liabilities                    2078 non-null   float64
 52  total_long-term_liabilities                    2078 non-null   float64
 53  total_liabilities                              2275 non-null   float64
 54  common_stock                                   2281 non-null   int64
 55  preferred_stock                                2281 non-null   float64
 56  retained_earnings                              2281 non-null   float64
 57  accumulated_other_comprehensive_income_(loss)  2281 non-null   float64
 58  additional_paid-in_capital                     2281 non-null   float64
 59  treasury_stock                                 2281 non-null   float64
 60  other_stockholders_equity                      2281 non-null   float64
 61  total_stockholders_equity                      2281 non-null   float64
 62  minority_interest                              2281 non-null   float64
 63  total_equity                                   2275 non-null   float64
 64  equity-to-asset                                2281 non-null   float64
 65  balance_statement_cash_and_cash_equivalents    203 non-null    float64
 66  money_market_investments                       203 non-null    float64
 67  gross_loan                                     203 non-null    float64
 68  allowance_for_loans_and_lease_losses           203 non-null    float64
 69  unearned_income                                203 non-null    float64
 70  net_loan                                       203 non-null    float64
 71  securities_&_investments                       203 non-null    float64
 72  other_assets_for_banks                         203 non-null    float64
 73  total_deposits                                 203 non-null    float64
 74  other_liabilities_for_banks                    203 non-null    float64
dtypes: float64(72), int64(3)
memory usage: 1.3 MB

In [54]:
balance.to_csv('../Clean Data/balance/balance_total.csv')

In [16]:
cashflow = pd.read_csv('../Clean Data/cashflow/cashflow_total.csv')
cashflow.head(38)

,enterprise_id,years,net_income_from_continuing_operations,"cash_flow_depreciation,_depletion_and_amortization",change_in_receivables,change_in_inventory,change_in_prepaid_assets,change_in_payables_and_accrued_expense,change_in_other_working_capital,change_in_working_capital,...,cash_flow_for_dividends,cash_flow_for_lease_financing,other_financing,cash_flow_from_financing,beginning_cash_position,effect_of_exchange_rate_changes,net_change_in_cash,ending_cash_position,capital_expenditure,free_cash_flow
0,1,1994,310.000,168.000,-199.000,418.000,0.000,-111.000,140.0,248.000,...,-56.0,0.0,0.000,-208.000,676.000,0.0,527.00,1203.000,-160.000,577.000
1,1,1995,424.000,127.000,-350.000,-687.000,0.000,236.000,4.0,-797.000,...,-58.0,0.0,0.000,195.000,1203.000,0.0,-447.00,756.000,-159.000,-399.000
2,1,1996,-816.000,116.000,435.000,1113.000,0.000,-249.000,230.0,1529.000,...,-14.0,0.0,0.000,396.000,756.000,0.0,796.00,1552.000,-67.000,341.000
3,1,1997,-1045.000,118.000,469.000,225.000,0.000,2.000,23.0,719.000,...,0.0,0.0,0.000,23.000,1552.000,0.0,-322.00,1230.000,-437.000,-283.000
4,1,1998,309.000,111.000,72.000,359.000,0.000,-73.000,29.0,387.000,...,0.0,0.0,0.000,19.000,1230.000,0.0,251.00,1481.000,-46.000,729.000
5,1,1999,601.000,85.000,274.000,58.000,0.000,95.000,-26.0,401.000,...,0.0,0.0,0.000,11.000,1481.000,0.0,-155.00,1326.000,-71.000,751.000
6,1,2000,786.000,84.000,-272.000,-13.000,0.000,318.000,159.0,192.000,...,0.0,0.0,0.000,-31.000,1326.000,0.0,-135.00,1191.000,-142.000,726.000
7,1,2001,-37.000,100.000,487.000,22.000,0.000,-356.000,58.0,211.000,...,0.0,0.0,0.000,42.000,1191.000,0.0,1119.00,2310.000,-232.000,-47.000
8,1,2002,65.000,114.000,-99.000,-34.000,0.000,110.000,-89.0,-112.000,...,0.0,0.0,0.000,105.000,2310.000,0.0,-58.00,2252.000,-174.000,-85.000
9,1,2003,68.000,113.000,-201.000,-11.000,0.000,243.000,88.0,119.000,...,0.0,0.0,0.000,27.000,2252.000,0.0,1144.00,3396.000,-164.000,125.000
10,1,2004,266.000,150.000,-8.000,-45.000,0.000,297.000,124.0,368.000,...,0.0,0.0,0.000,127.000,3396.000,0.0,-427.00,2969.000,-176.000,758.000
11,1,2005,1328.000,179.000,-121.000,-64.000,0.000,328.000,349.0,492.000,...,0.0,0.0,0.000,543.000,2969.000,0.0,522.00,3491.000,-260.000,2275.000
12,1,2006,1989.000,225.000,-357.000,-105.000,0.000,1611.000,-1374.0,-225.000,...,0.0,0.0,361.000,324.000,3491.000,0.0,2901.00,6392.000,-685.000,1535.000
13,1,2007,3496.000,317.000,-385.000,-76.000,0.000,1494.000,292.0,1325.000,...,0.0,0.0,377.000,739.000,6392.000,0.0,2960.00,9352.000,-986.000,4484.000
14,1,2008,6119.000,496.000,-675.000,-163.000,0.000,596.000,2287.0,2045.000,...,0.0,0.0,633.000,1116.000,9352.000,0.0,2523.00,11875.000,-1199.000,8397.000
15,1,2009,8235.000,734.000,-353.000,54.000,0.000,92.000,-379.0,-586.000,...,0.0,0.0,188.000,663.000,11875.000,0.0,-6612.00,5263.000,-1213.000,8946.000
16,1,2010,14013.000,1027.000,-4860.000,-596.000,0.000,6307.000,385.0,1236.000,...,0.0,0.0,345.000,1257.000,5263.000,0.0,5998.00,11261.000,-2121.000,16474.000
17,1,2011,25922.000,1814.000,-1791.000,275.000,0.000,2515.000,4758.0,5757.000,...,0.0,0.0,613.000,1444.000,11261.000,0.0,-1446.00,9815.000,-7452.000,30077.000
18,1,2012,41733.000,3277.000,-6965.000,-15.000,0.000,4467.000,2214.0,-299.000,...,-2488.0,0.0,125.000,-1698.000,9815.000,0.0,931.00,10746.000,-9402.000,41454.000
19,1,2013,37037.000,6757.000,-1949.000,-973.000,0.000,2340.000,7060.0,6478.000,...,-10564.0,0.0,-381.000,-16379.000,10746.000,0.0,3513.00,14259.000,-9076.000,44590.000
20,1,2014,39510.000,7946.000,-6452.000,-76.000,0.000,5938.000,7637.0,7047.000,...,-11126.0,0.0,-419.000,-37549.000,14259.000,0.0,-415.00,13844.000,-9813.000,49900.000
21,1,2015,53394.000,11257.000,-3318.000,-238.000,0.000,5001.000,9817.0,11262.000,...,-11561.0,0.0,-750.000,-17716.000,13844.000,0.0,7276.00,21120.000,-11488.000,69778.000
22,1,2016,45687.000,10505.000,476.000,217.000,0.000,2117.000,-2405.0,405.000,...,-12150.0,0.0,-1570.000,-20890.000,21120.000,0.0,-636.00,20484.000,-12734.000,53497.000
23,1,2017,48351.000,10157.000,-6347.000,-2723.000,0.000,8966.000,-4819.0,-4923.000,...,-12769.0,0.0,-1874.000,-17974.000,20484.000,0.0,-195.00,20289.000,-12451.000,51774.000
24,1,2018,59531.000,10903.000,-13332.000,828.000,0.000,9175.000,38023.0,34694.000,...,-13712.0,0.0,-2527.000,-87876.000,20289.000,0.0,5624.00,25913.000,-13313.000,64121.000
25,1,2019,55256.000,12547.000,3176.000,-289.000,0.000,-1923.000,-4452.0,-3488.000,...,-14119.0,0.0,-2922.000,-90976.000,25913.000,0.0,24311.00,50224.000,-10495.000,58896.000
26,1,2020,57411.000,11056.000,8470.000,-127.000,0.000,-4062.000,1409.0,5690.000,...,-14081.0,0.0,-3760.000,-86820.000,50224.000,0.0,-10435.00,39789.000,-7309.000,73365.000
27,1,2021,94680.000,11284.000,-14028.000,-2642.000,0.000,12326.000,-567.0,-4911.000,...,-14467.0,0.0,-6685.000,-93353.000,39789.000,0.0,-3860.00,35929.000,-11085.000,92953.000
28,1,2022,99803.000,11104.000,-9343.000,1484.000,0.000,9448.000,-389.0,1200.000,...,-14841.0,0.0,-6383.000,-110749.000,35929.000,0.0,-10952.00,24977.000,-10708.000,111443.000
29,1,2023,96995.000,11519.000,-417.000,-1618.000,0.000,-1889.000,-2653.0,-6577.000,...,-15025.0,0.0,-6012.000,-108488.000,24977.000,0.0,5760.00,30737.000,-10959.000,99584.000
30,2,2010,4636.515,697.492,-322.193,165.347,450.263,210.324,0.0,503.741,...,0.0,0.0,-4846.385,-4881.151,0.207,0.0,-0.17,0.037,-312.565,5054.771
31,2,2011,4178.000,1184.000,-60.000,-73.000,-38.000,-695.000,0.0,-866.000,...,0.0,0.0,0.000,65.000,0.000,0.0,10.00,10.000,-448.000,4528.000
32,2,2012,3433.000,1272.000,-498.000,-87.000,-206.000,1497.000,0.0,706.000,...,0.0,0.0,0.000,-6783.000,10.000,0.0,17.00,27.000,-356.000,5891.000
33,2,2013,5275.000,1150.000,223.000,-203.000,90.000,-731.000,0.0,-621.000,...,0.0,0.0,-13655.000,1931.000,27.000,16.0,5874.00,5901.000,-333.000,6012.000
34,2,2014,4128.000,897.000,681.000,-56.000,459.000,-426.000,0.0,658.000,...,-2555.0,0.0,34.000,-3442.000,5901.000,-10.0,3694.00,9595.000,-491.000,5776.000
35,2,2015,1774.000,786.000,-172.000,-203.000,-220.000,-193.000,0.0,-788.000,...,-2661.0,0.0,38.000,-3293.000,9595.000,-577.0,-1247.00,8348.000,-612.000,2937.000
36,2,2016,5144.000,836.000,-1076.000,-434.000,511.000,1503.000,0.0,504.000,...,-3294.0,0.0,9.000,5752.000,8348.000,-300.0,51.00,8399.000,-532.000,7003.000
37,2,2017,5953.000,1189.000,-71.000,-38.000,-393.000,-1187.000,0.0,-1689.000,...,-3717.0,0.0,228.000,-3928.000,8399.000,-338.0,-3299.00,5100.000,-479.000,6562.000

In [18]:
cashflow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 42 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   enterprise_id                                       2281 non-null   int64
 1   years                                               2281 non-null   int64
 2   net_income_from_continuing_operations               2281 non-null   float64
 3   cash_flow_depreciation,_depletion_and_amortization  2281 non-null   float64
 4   change_in_receivables                               2281 non-null   float64
 5   change_in_inventory                                 2281 non-null   float64
 6   change_in_prepaid_assets                            2281 non-null   float64
 7   change_in_payables_and_accrued_expense              2281 non-null   float64
 8   change_in_other_working_capital                     2281 non-null   float64
 9   change_in_working_capital                           2281 non-null   float64
 10  deferred_tax                                        2281 non-null   float64
 11  stock_based_compensation                            2281 non-null   float64
 12  asset_impairment_charge                             2281 non-null   float64
 13  cash_from_discontinued_operating_activities         2281 non-null   float64
 14  cash_flow_from_others                               2281 non-null   float64
 15  cash_flow_from_operations                           2281 non-null   float64
 16  purchase_of_property,_plant,_equipment              2281 non-null   float64
 17  sale_of_property,_plant,_equipment                  2281 non-null   float64
 18  purchase_of_business                                2281 non-null   float64
 19  sale_of_business                                    2281 non-null   float64
 20  purchase_of_investment                              2281 non-null   float64
 21  sale_of_investment                                  2281 non-null   float64
 22  net_intangibles_purchase_and_sale                   2281 non-null   float64
 23  cash_from_discontinued_investing_activities         2281 non-null   float64
 24  cash_from_other_investing_activities                2281 non-null   float64
 25  cash_flow_from_investing                            2281 non-null   float64
 26  issuance_of_stock                                   2281 non-null   float64
 27  repurchase_of_stock                                 2281 non-null   float64
 28  net_issuance_of_preferred_stock                     2281 non-null   float64
 29  issuance_of_debt                                    2281 non-null   float64
 30  payments_of_debt                                    2281 non-null   float64
 31  net_issuance_of_debt                                2281 non-null   float64
 32  cash_flow_for_dividends                             2281 non-null   float64
 33  cash_flow_for_lease_financing                       2281 non-null   float64
 34  other_financing                                     2281 non-null   float64
 35  cash_flow_from_financing                            2281 non-null   float64
 36  beginning_cash_position                             2281 non-null   float64
 37  effect_of_exchange_rate_changes                     2281 non-null   float64
 38  net_change_in_cash                                  2281 non-null   float64
 39  ending_cash_position                                2281 non-null   float64
 40  capital_expenditure                                 2281 non-null   float64
 41  free_cash_flow                                      2281 non-null   float64
dtypes: float64(40), int64(2)
memory usage: 748.6 KB

In [55]:
cashflow.to_csv('../Clean Data/cashflow/cashflow_total.csv')

In [19]:
data = pd.read_csv('../Clean Data/data/data_total.csv')
data.head(38)

,enterprise_id,years,revenue_per_share,ebitda_per_share,ebit_per_share,earnings_per_share_(diluted),eps_without_nri,owner_earnings_per_share_(ttm),free_cash_flow_per_share,operating_cash_flow_per_share,cash_per_share,dividends_per_share,book_value_per_share,tangible_book_per_share,total_debt_per_share,month_end_stock_price
0,1,1994,0.691,0.053,0.041,0.023,0.019,0.041,0.043,0.055,0.094,0.004,0.178,0.178,0.045,0.30
1,1,1995,0.803,0.062,0.052,0.031,0.032,-0.029,-0.029,-0.017,0.069,0.004,0.211,0.211,0.055,0.33
2,1,1996,0.710,-0.081,-0.089,-0.059,-0.055,0.050,0.025,0.029,0.125,0.001,0.148,0.148,0.081,0.20
3,1,1997,0.502,-0.061,-0.069,-0.074,-0.054,-0.027,-0.020,0.011,0.102,0.000,0.073,0.073,0.068,0.19
4,1,1998,0.316,0.027,0.021,0.019,0.017,0.025,0.039,0.041,0.152,0.000,0.099,0.099,0.063,0.34
5,1,1999,0.314,0.041,0.037,0.032,0.022,0.046,0.039,0.042,0.179,0.000,0.164,0.164,0.017,0.54
6,1,2000,0.396,0.059,0.055,0.039,0.029,0.053,0.036,0.043,0.214,0.000,0.214,0.214,0.016,0.46
7,1,2001,0.277,0.003,-0.002,-0.001,-0.005,0.003,-0.002,0.010,0.221,0.000,0.199,0.196,0.016,0.28
8,1,2002,0.283,0.010,0.005,0.003,0.006,-0.005,-0.004,0.004,0.216,0.000,0.204,0.198,0.016,0.26
9,1,2003,0.305,0.007,0.001,0.003,0.004,0.007,0.006,0.014,0.222,0.000,0.206,0.200,0.015,0.37
10,1,2004,0.382,0.024,0.017,0.012,0.013,0.029,0.035,0.043,0.249,0.000,0.232,0.227,0.000,0.69
11,1,2005,0.581,0.076,0.068,0.055,0.055,0.077,0.095,0.106,0.353,0.000,0.318,0.314,0.000,1.91
12,1,2006,0.786,0.109,0.100,0.081,0.081,0.072,0.062,0.090,0.422,0.000,0.417,0.410,0.000,2.75
13,1,2007,0.987,0.190,0.177,0.140,0.140,0.193,0.180,0.220,0.630,0.000,0.595,0.581,0.000,5.48
14,1,2008,1.484,0.349,0.330,0.242,0.242,0.339,0.332,0.380,0.888,0.000,0.896,0.876,0.000,4.06
15,1,2009,1.689,0.491,0.462,0.324,0.324,0.343,0.352,0.400,0.931,0.000,1.256,1.238,0.000,6.62
16,1,2010,2.519,0.750,0.710,0.541,0.541,0.647,0.636,0.718,0.999,0.000,1.863,1.821,0.000,10.13
17,1,2011,4.128,1.373,1.304,0.989,0.989,1.303,1.147,1.431,0.997,0.000,2.944,2.774,0.000,13.62
18,1,2012,5.913,2.230,2.107,1.578,1.578,1.715,1.566,1.921,1.108,0.095,4.495,4.291,0.000,23.83
19,1,2013,6.552,2.187,1.928,1.420,1.420,1.828,1.709,2.057,1.610,0.407,4.907,4.678,0.674,17.03
20,1,2014,7.464,2.524,2.199,1.613,1.613,2.121,2.038,2.438,1.069,0.453,4.754,4.381,1.504,25.19
21,1,2015,10.086,3.647,3.161,2.305,2.305,3.041,3.011,3.507,1.864,0.495,5.349,4.945,2.883,27.58
22,1,2016,9.801,3.333,2.856,2.078,2.078,2.445,2.432,3.010,3.146,0.545,6.008,5.605,4.077,28.26
23,1,2017,10.912,3.645,3.161,2.303,2.303,2.417,2.465,3.057,3.618,0.600,6.537,6.537,5.642,38.53
24,1,2018,13.279,4.352,3.807,2.980,2.980,3.206,3.206,3.872,3.486,0.680,5.633,5.633,6.019,56.44
25,1,2019,13.991,4.402,3.727,2.970,2.970,2.983,3.167,3.732,5.658,0.750,5.091,5.091,6.079,55.99
26,1,2020,15.661,4.622,3.992,3.280,3.280,3.760,4.186,4.603,5.357,0.795,3.849,3.849,6.623,115.81
27,1,2021,21.691,7.301,6.632,5.610,5.610,5.231,5.512,6.169,3.813,0.850,3.841,3.841,7.592,141.50
28,1,2022,24.154,8.155,7.475,6.110,6.110,6.398,6.826,7.482,3.030,0.900,3.178,3.178,7.531,138.20
29,1,2023,24.239,8.170,7.441,6.130,6.130,5.992,6.298,6.991,3.958,0.940,3.997,3.997,7.144,171.21
30,2,2010,8.747,3.569,3.140,2.853,2.446,0.000,3.111,3.303,0.000,0.000,0.000,0.000,0.000,0.00
31,2,2011,9.623,3.705,2.976,2.571,2.722,0.000,2.786,3.062,0.007,0.000,9.663,3.578,0.000,0.00
32,2,2012,10.735,3.040,2.257,2.113,2.483,0.000,3.625,3.844,0.402,0.000,7.343,1.798,0.030,0.00
33,2,2013,11.655,4.425,3.696,3.350,3.528,0.000,3.812,4.023,5.048,0.000,2.128,-3.222,9.919,34.16
34,2,2014,11.714,4.070,3.511,2.560,2.749,0.000,3.601,3.907,6.234,1.600,2.830,-2.315,9.275,52.81
35,2,2015,12.398,2.226,1.738,1.100,1.580,0.000,1.824,2.204,5.262,1.660,1.095,-3.540,9.411,65.44
36,2,2016,13.964,5.009,4.498,3.130,3.291,3.730,4.278,4.603,5.222,2.020,2.450,-17.971,19.673,59.24
37,2,2017,15.719,6.205,5.476,3.630,3.864,3.126,4.023,4.317,4.033,2.280,2.911,-24.915,23.135,62.62

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   enterprise_id                   2281 non-null   int64
 1   years                           2281 non-null   int64
 2   revenue_per_share               2281 non-null   float64
 3   ebitda_per_share                2078 non-null   float64
 4   ebit_per_share                  2078 non-null   float64
 5   earnings_per_share_(diluted)    2281 non-null   float64
 6   eps_without_nri                 2281 non-null   float64
 7   owner_earnings_per_share_(ttm)  2281 non-null   float64
 8   free_cash_flow_per_share        2281 non-null   float64
 9   operating_cash_flow_per_share   2281 non-null   float64
 10  cash_per_share                  2281 non-null   float64
 11  dividends_per_share             2281 non-null   float64
 12  book_value_per_share            2281 non-null   float64
 13  tangible_book_per_share         2281 non-null   float64
 14  total_debt_per_share            2281 non-null   float64
 15  month_end_stock_price           2281 non-null   float64
dtypes: float64(14), int64(2)
memory usage: 285.3 KB

In [56]:
data.to_csv('../Clean Data/data/data_total.csv')

In [42]:
income = pd.read_csv('../Clean Data/income/income_total.csv')
income.head(4)

,Unnamed: 0,enterprise_id,years,revenue,cost_of_goods_sold,gross_profit,gross_margin_%,"selling,_general,_&_admin._expense",research_&_development,other_operating_expense,...,ebit,"depreciation,_depletion_and_amortization",ebitda,ebitda_margin_%,net_interest_income_(for_banks),non_interest_income,credit_losses_provision,other_noninterest_expense,total_noninterest_expense,special_charges
0,0,1,1994,9189.0,6846.0,2343.0,25.498,1384.0,564.0,0.0,...,540.0,168.0,708.0,7.705,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1995,11062.0,8204.0,2858.0,25.836,1583.0,614.0,0.0,...,722.0,127.0,849.0,7.675,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,1996,9833.0,8865.0,968.0,9.844,1568.0,604.0,0.0,...,-1235.0,116.0,-1119.0,-11.380,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1,1997,7081.0,5713.0,1368.0,19.319,1286.0,860.0,0.0,...,-974.0,118.0,-856.0,-12.089,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 41 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Unnamed: 0                                     2281 non-null   int64
 1   enterprise_id                                  2281 non-null   int64
 2   years                                          2281 non-null   int64
 3   revenue                                        2281 non-null   float64
 4   cost_of_goods_sold                             2078 non-null   float64
 5   gross_profit                                   2078 non-null   float64
 6   gross_margin_%                                 2078 non-null   float64
 7   selling,_general,_&_admin._expense             2281 non-null   float64
 8   research_&_development                         2078 non-null   float64
 9   other_operating_expense                        2078 non-null   float64
 10  total_operating_expense                        2078 non-null   float64
 11  operating_income                               2078 non-null   float64
 12  operating_margin_%                             2078 non-null   float64
 13  interest_income                                2281 non-null   float64
 14  interest_expense                               2281 non-null   float64
 15  net_interest_income                            2078 non-null   float64
 16  other_income_(expense)                         2281 non-null   float64
 17  pretax_income                                  2281 non-null   float64
 18  tax_provision                                  2281 non-null   float64
 19  tax_rate_%                                     2281 non-null   float64
 20  other_net_income_(loss)                        2281 non-null   float64
 21  net_income_including_noncontrolling_interests  2281 non-null   float64
 22  net_income_(continuing_operations)             2281 non-null   float64
 23  net_income_(discontinued_operations)           2281 non-null   float64
 24  other_income_(minority_interest)               2281 non-null   float64
 25  net_income                                     2281 non-null   float64
 26  net_margin_%                                   2281 non-null   float64
 27  preferred_dividends                            2281 non-null   float64
 28  eps_(basic)                                    2281 non-null   float64
 29  eps_(diluted)                                  2281 non-null   float64
 30  shares_outstanding_(diluted_average)           2281 non-null   float64
 31  ebit                                           2078 non-null   float64
 32  depreciation,_depletion_and_amortization       2281 non-null   float64
 33  ebitda                                         2078 non-null   float64
 34  ebitda_margin_%                                2078 non-null   float64
 35  net_interest_income_(for_banks)                203 non-null    float64
 36  non_interest_income                            203 non-null    float64
 37  credit_losses_provision                        203 non-null    float64
 38  other_noninterest_expense                      203 non-null    float64
 39  total_noninterest_expense                      203 non-null    float64
 40  special_charges                                203 non-null    float64
dtypes: float64(38), int64(3)
memory usage: 730.8 KB

In [27]:
income.drop('Unnamed: 0', axis=1, inplace=True)
income.head()

,enterprise_id,years,revenue,cost_of_goods_sold,gross_profit,gross_margin_%,"selling,_general,_&_admin._expense",research_&_development,other_operating_expense,total_operating_expense,...,ebit,"depreciation,_depletion_and_amortization",ebitda,ebitda_margin_%,net_interest_income_(for_banks),non_interest_income,credit_losses_provision,other_noninterest_expense,total_noninterest_expense,special_charges
0,1,1994,9189.0,6846.0,2343.0,25.498,1384.0,564.0,0.0,1948.0,...,540.0,168.0,708.0,7.705,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1995,11062.0,8204.0,2858.0,25.836,1583.0,614.0,0.0,2197.0,...,722.0,127.0,849.0,7.675,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1996,9833.0,8865.0,968.0,9.844,1568.0,604.0,0.0,2172.0,...,-1235.0,116.0,-1119.0,-11.380,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1997,7081.0,5713.0,1368.0,19.319,1286.0,860.0,0.0,2146.0,...,-974.0,118.0,-856.0,-12.089,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1998,5941.0,4462.0,1479.0,24.895,908.0,310.0,0.0,1218.0,...,391.0,111.0,502.0,8.450,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
income.to_csv('../Clean Data/income/income_total.csv')

In [43]:
quality = pd.read_csv('../Clean Data/quality/quality_total.csv')
quality.head(4)

,enterprise_id,years,market_cap,enterprise_value,month_end_stock_price,net_cash_per_share,net_current_asset_value,net-net_working_capital,intrinsic_value:_projected_fcf,median_ps_value,...,5-year_ebitda_growth_rate_(per_share),shares_outstanding_(basic_average),shares_outstanding_(eop),beta,restated_filing_date,filing_date,earnings_release_date,number_of_shareholders,number_of_employees,forex_rate
0,1,1994,4016.640,3355.640,0.30,-0.12,0.12,0.01,0.30,0.70,...,0.00,13298.320,13388.8,1.54,12/19/96,12/13/94,NaN,0,11287,1.0
1,1,1995,4543.209,4355.209,0.33,-0.17,0.14,0.00,0.27,0.79,...,-12.75,13781.264,13767.3,1.99,12/05/97,12/19/95,NaN,0,13191,1.0
2,1,1996,2788.740,2178.740,0.20,-0.11,0.09,-0.01,0.16,0.67,...,0.00,13858.208,13943.7,0.97,12/23/98,12/19/96,NaN,0,10896,1.0
3,1,1997,2722.757,2389.757,0.19,-0.11,0.02,-0.05,0.08,0.42,...,0.00,14118.944,14330.3,-0.35,12/22/99,12/05/97,NaN,0,8437,1.0

In [29]:
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 39 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   enterprise_id                          2281 non-null   int64
 1   years                                  2281 non-null   int64
 2   market_cap                             2281 non-null   float64
 3   enterprise_value                       2281 non-null   float64
 4   month_end_stock_price                  2281 non-null   float64
 5   net_cash_per_share                     2281 non-null   float64
 6   net_current_asset_value                2281 non-null   float64
 7   net-net_working_capital                2281 non-null   float64
 8   intrinsic_value:_projected_fcf         2281 non-null   float64
 9   median_ps_value                        2281 non-null   float64
 10  peter_lynch_fair_value                 2281 non-null   float64
 11  graham_number                          2281 non-null   float64
 12  earnings_power_value_(epv)             2281 non-null   float64
 13  altman_z-score                         2078 non-null   float64
 14  piotroski_f-score                      2175 non-null   float64
 15  beneish_m-score                        2281 non-null   float64
 16  scaled_net_operating_assets            2281 non-null   float64
 17  sloan_ratio_%                          2281 non-null   float64
 18  current_ratio                          2078 non-null   float64
 19  quick_ratio                            2078 non-null   float64
 20  cash_ratio                             2078 non-null   float64
 21  interest_coverage                      1435 non-null   object
 22  highest_stock_price                    2281 non-null   float64
 23  lowest_stock_price                     2281 non-null   float64
 24  shares_buyback_ratio_%                 2281 non-null   object
 25  buyback_yield_%                        2281 non-null   float64
 26  yoy_rev._per_sh._growth                2281 non-null   float64
 27  yoy_eps_growth                         2281 non-null   float64
 28  yoy_ebitda_growth_(%)                  2078 non-null   float64
 29  5-year_ebitda_growth_rate_(per_share)  2078 non-null   float64
 30  shares_outstanding_(basic_average)     2281 non-null   float64
 31  shares_outstanding_(eop)               2281 non-null   float64
 32  beta                                   2281 non-null   float64
 33  restated_filing_date                   2152 non-null   object
 34  filing_date                            2152 non-null   object
 35  earnings_release_date                  1115 non-null   object
 36  number_of_shareholders                 2281 non-null   int64
 37  number_of_employees                    2281 non-null   int64
 38  forex_rate                             2281 non-null   float64
dtypes: float64(30), int64(4), object(5)
memory usage: 695.1+ KB

In [44]:
def filtrar_no_numericos_a_nan(quality):    #Filtra un DataFrame y convierte todos los valores no numéricos en NaN.
    
    return quality.applymap(lambda x: pd.to_numeric(x, errors='coerce'))


# Filtrar y convertir no numéricos a NaN
quality = filtrar_no_numericos_a_nan(quality)

In [45]:
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 39 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   enterprise_id                          2281 non-null   int64
 1   years                                  2281 non-null   int64
 2   market_cap                             2281 non-null   float64
 3   enterprise_value                       2281 non-null   float64
 4   month_end_stock_price                  2281 non-null   float64
 5   net_cash_per_share                     2281 non-null   float64
 6   net_current_asset_value                2281 non-null   float64
 7   net-net_working_capital                2281 non-null   float64
 8   intrinsic_value:_projected_fcf         2281 non-null   float64
 9   median_ps_value                        2281 non-null   float64
 10  peter_lynch_fair_value                 2281 non-null   float64
 11  graham_number                          2281 non-null   float64
 12  earnings_power_value_(epv)             2281 non-null   float64
 13  altman_z-score                         2078 non-null   float64
 14  piotroski_f-score                      2175 non-null   float64
 15  beneish_m-score                        2281 non-null   float64
 16  scaled_net_operating_assets            2281 non-null   float64
 17  sloan_ratio_%                          2281 non-null   float64
 18  current_ratio                          2078 non-null   float64
 19  quick_ratio                            2078 non-null   float64
 20  cash_ratio                             2078 non-null   float64
 21  interest_coverage                      1317 non-null   float64
 22  highest_stock_price                    2281 non-null   float64
 23  lowest_stock_price                     2281 non-null   float64
 24  shares_buyback_ratio_%                 2250 non-null   float64
 25  buyback_yield_%                        2281 non-null   float64
 26  yoy_rev._per_sh._growth                2281 non-null   float64
 27  yoy_eps_growth                         2281 non-null   float64
 28  yoy_ebitda_growth_(%)                  2078 non-null   float64
 29  5-year_ebitda_growth_rate_(per_share)  2078 non-null   float64
 30  shares_outstanding_(basic_average)     2281 non-null   float64
 31  shares_outstanding_(eop)               2281 non-null   float64
 32  beta                                   2281 non-null   float64
 33  restated_filing_date                   0 non-null      float64
 34  filing_date                            0 non-null      float64
 35  earnings_release_date                  0 non-null      float64
 36  number_of_shareholders                 2281 non-null   int64
 37  number_of_employees                    2281 non-null   int64
 38  forex_rate                             2281 non-null   float64
dtypes: float64(35), int64(4)
memory usage: 695.1 KB

In [52]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['restated_filing_date', 'filing_date', 'earnings_release_date']

# Elimino las columnas
quality = quality.drop(columns=columnas_a_eliminar)
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   enterprise_id                          2281 non-null   int64
 1   years                                  2281 non-null   int64
 2   market_cap                             2281 non-null   float64
 3   enterprise_value                       2281 non-null   float64
 4   month_end_stock_price                  2281 non-null   float64
 5   net_cash_per_share                     2281 non-null   float64
 6   net_current_asset_value                2281 non-null   float64
 7   net-net_working_capital                2281 non-null   float64
 8   intrinsic_value:_projected_fcf         2281 non-null   float64
 9   median_ps_value                        2281 non-null   float64
 10  peter_lynch_fair_value                 2281 non-null   float64
 11  graham_number                          2281 non-null   float64
 12  earnings_power_value_(epv)             2281 non-null   float64
 13  altman_z-score                         2078 non-null   float64
 14  piotroski_f-score                      2175 non-null   float64
 15  beneish_m-score                        2281 non-null   float64
 16  scaled_net_operating_assets            2281 non-null   float64
 17  sloan_ratio_%                          2281 non-null   float64
 18  current_ratio                          2078 non-null   float64
 19  quick_ratio                            2078 non-null   float64
 20  cash_ratio                             2078 non-null   float64
 21  interest_coverage                      1317 non-null   float64
 22  highest_stock_price                    2281 non-null   float64
 23  lowest_stock_price                     2281 non-null   float64
 24  shares_buyback_ratio_%                 2250 non-null   float64
 25  buyback_yield_%                        2281 non-null   float64
 26  yoy_rev._per_sh._growth                2281 non-null   float64
 27  yoy_eps_growth                         2281 non-null   float64
 28  yoy_ebitda_growth_(%)                  2078 non-null   float64
 29  5-year_ebitda_growth_rate_(per_share)  2078 non-null   float64
 30  shares_outstanding_(basic_average)     2281 non-null   float64
 31  shares_outstanding_(eop)               2281 non-null   float64
 32  beta                                   2281 non-null   float64
 33  number_of_shareholders                 2281 non-null   int64
 34  number_of_employees                    2281 non-null   int64
 35  forex_rate                             2281 non-null   float64
dtypes: float64(32), int64(4)
memory usage: 641.7 KB

In [57]:
quality.to_csv('../Clean Data/quality/quality_total.csv')

In [46]:
ratios = pd.read_csv('../Clean Data/ratios/ratios_total.csv')
ratios.head(4)

,enterprise_id,years,roe_%,roe_%_adjusted_to_book_value,roa_%,return-on-tangible-equity,return-on-tangible-asset,roc_(joel_greenblatt)_%,roce_%,5-year_rore_%,...,days_inventory,cash_conversion_cycle,receivables_turnover,inventory_turnover,cogs-to-revenue,inventory-to-revenue,capex-to-revenue,capex-to-operating-income,capex-to-operating-cash-flow,net_interest_margin_(bank_only)_%
0,1,1994,14.061,8.32,5.919,14.061,5.919,23.21,17.93,-10.58,...,69.17,84.71,6.20,5.28,0.75,0.141,0.017,0.405,0.217,NaN
1,1,1995,16.048,10.29,7.352,16.048,7.352,26.98,19.88,7.92,...,63.69,76.09,6.30,5.73,0.74,0.129,0.014,0.241,0.000,NaN
2,1,1996,-32.91,-24.38,-14.075,-32.91,-14.075,-52.89,-33.99,-421.74,...,50.17,73.50,5.74,7.28,0.90,0.124,0.007,0.000,0.164,NaN
3,1,1997,-64.15,-24.67,-21.778,-64.15,-21.778,-88.18,-33.73,91.86,...,35.11,53.19,5.60,10.4,0.81,0.078,0.062,0.000,2.838,NaN

In [31]:
ratios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   enterprise_id                      2281 non-null   int64
 1   years                              2281 non-null   int64
 2   roe_%                              2281 non-null   object
 3   roe_%_adjusted_to_book_value       2164 non-null   object
 4   roa_%                              2281 non-null   object
 5   return-on-tangible-equity          2281 non-null   object
 6   return-on-tangible-asset           2281 non-null   object
 7   roc_(joel_greenblatt)_%            2078 non-null   object
 8   roce_%                             2078 non-null   object
 9   5-year_rore_%                      2281 non-null   float64
 10  1-year_roiic_%                     2078 non-null   float64
 11  roic_%                             2078 non-null   float64
 12  wacc_%                             2281 non-null   float64
 13  effective_interest_rate_on_debt_%  2281 non-null   object
 14  gross_margin_%                     2078 non-null   float64
 15  operating_margin_%                 2078 non-null   float64
 16  net_margin_%                       2281 non-null   float64
 17  ebitda_margin_%                    2078 non-null   float64
 18  fcf_margin_%                       2281 non-null   object
 19  debt-to-equity                     2275 non-null   float64
 20  equity-to-asset                    2281 non-null   float64
 21  debt-to-asset                      2281 non-null   float64
 22  liabilities-to-assets              2281 non-null   float64
 23  gross-profit-to-asset_%            2078 non-null   object
 24  degree_of_financial_leverage       2078 non-null   float64
 25  asset_turnover                     2281 non-null   float64
 26  dividend_payout_ratio              2281 non-null   object
 27  days_sales_outstanding             2078 non-null   float64
 28  days_payable                       2078 non-null   float64
 29  days_inventory                     2078 non-null   float64
 30  cash_conversion_cycle              2078 non-null   float64
 31  receivables_turnover               2078 non-null   float64
 32  inventory_turnover                 2078 non-null   object
 33  cogs-to-revenue                    2078 non-null   float64
 34  inventory-to-revenue               2078 non-null   object
 35  capex-to-revenue                   2281 non-null   float64
 36  capex-to-operating-income          2078 non-null   float64
 37  capex-to-operating-cash-flow       2281 non-null   float64
 38  net_interest_margin_(bank_only)_%  203 non-null    float64
dtypes: float64(24), int64(2), object(13)
memory usage: 695.1+ KB

In [47]:
def filtrar_no_numericos_a_nan(ratios):    #Filtra un DataFrame y convierte todos los valores no numéricos en NaN.
    
    return ratios.applymap(lambda x: pd.to_numeric(x, errors='coerce'))


# Filtrar y convertir no numéricos a NaN
ratios = filtrar_no_numericos_a_nan(ratios)

In [48]:
ratios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   enterprise_id                      2281 non-null   int64
 1   years                              2281 non-null   int64
 2   roe_%                              2247 non-null   float64
 3   roe_%_adjusted_to_book_value       2130 non-null   float64
 4   roa_%                              2276 non-null   float64
 5   return-on-tangible-equity          1848 non-null   float64
 6   return-on-tangible-asset           2276 non-null   float64
 7   roc_(joel_greenblatt)_%            2068 non-null   float64
 8   roce_%                             2068 non-null   float64
 9   5-year_rore_%                      2281 non-null   float64
 10  1-year_roiic_%                     2078 non-null   float64
 11  roic_%                             2078 non-null   float64
 12  wacc_%                             2281 non-null   float64
 13  effective_interest_rate_on_debt_%  2162 non-null   float64
 14  gross_margin_%                     2078 non-null   float64
 15  operating_margin_%                 2078 non-null   float64
 16  net_margin_%                       2281 non-null   float64
 17  ebitda_margin_%                    2078 non-null   float64
 18  fcf_margin_%                       2265 non-null   float64
 19  debt-to-equity                     2275 non-null   float64
 20  equity-to-asset                    2281 non-null   float64
 21  debt-to-asset                      2281 non-null   float64
 22  liabilities-to-assets              2281 non-null   float64
 23  gross-profit-to-asset_%            2073 non-null   float64
 24  degree_of_financial_leverage       2078 non-null   float64
 25  asset_turnover                     2281 non-null   float64
 26  dividend_payout_ratio              2138 non-null   float64
 27  days_sales_outstanding             2078 non-null   float64
 28  days_payable                       2078 non-null   float64
 29  days_inventory                     2078 non-null   float64
 30  cash_conversion_cycle              2078 non-null   float64
 31  receivables_turnover               2078 non-null   float64
 32  inventory_turnover                 1722 non-null   float64
 33  cogs-to-revenue                    2078 non-null   float64
 34  inventory-to-revenue               2076 non-null   float64
 35  capex-to-revenue                   2281 non-null   float64
 36  capex-to-operating-income          2078 non-null   float64
 37  capex-to-operating-cash-flow       2281 non-null   float64
 38  net_interest_margin_(bank_only)_%  203 non-null    float64
dtypes: float64(37), int64(2)
memory usage: 695.1 KB

In [58]:
ratios.to_csv('../Clean Data/ratios/ratios_total.csv')

In [49]:
valuation = pd.read_csv('../Clean Data/valuation/valuation_total.csv')
valuation.head(4)

,enterprise_id,years,pe_ratio,pe_ratio_without_nri,price-to-owner-earnings,pb_ratio,price-to-tangible-book,price-to-free-cash-flow,price-to-operating-cash-flow,ps_ratio,...,ev-to-ebitda,ev-to-ebit,earnings_yield_(joel_greenblatt)_%,forward_rate_of_return_(yacktman)_%,shiller_pe_ratio,cyclically_adjusted_pb_ratio,cyclically_adjusted_ps_ratio,cyclically_adjusted_price-to-fcf,dividend_yield_%,fcf_yield_%
0,1,1994,13.04,15.79,7.32,1.69,1.69,6.98,5.45,0.43,...,4.74,6.21,16.10,0.00,11.69,2.14,0.70,16.28,1.33,14.37
1,1,1995,10.65,10.31,0.00,1.56,1.56,0.00,0.00,0.41,...,5.13,6.03,16.58,-12.81,11.46,2.12,0.66,30.39,1.20,-8.78
2,1,1996,At Loss,At Loss,4.00,1.35,1.35,8.00,6.90,0.28,...,-1.95,-1.76,-56.82,0.00,9.03,1.22,0.35,15.27,0.51,12.23
3,1,1997,At Loss,At Loss,0.00,2.60,2.60,0.00,17.27,0.38,...,-2.79,-2.45,-40.82,0.00,14.86,1.18,0.31,20.93,0.00,-10.39

In [33]:
valuation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   enterprise_id                        2281 non-null   int64
 1   years                                2281 non-null   int64
 2   pe_ratio                             2182 non-null   object
 3   pe_ratio_without_nri                 2184 non-null   object
 4   price-to-owner-earnings              2281 non-null   float64
 5   pb_ratio                             2281 non-null   float64
 6   price-to-tangible-book               2281 non-null   float64
 7   price-to-free-cash-flow              2281 non-null   float64
 8   price-to-operating-cash-flow         2281 non-null   float64
 9   ps_ratio                             2281 non-null   object
 10  peg_ratio                            2281 non-null   float64
 11  ev-to-revenue                        2281 non-null   float64
 12  ev-to-ebitda                         2078 non-null   float64
 13  ev-to-ebit                           2078 non-null   float64
 14  earnings_yield_(joel_greenblatt)_%   2281 non-null   float64
 15  forward_rate_of_return_(yacktman)_%  2281 non-null   float64
 16  shiller_pe_ratio                     2281 non-null   float64
 17  cyclically_adjusted_pb_ratio         2281 non-null   float64
 18  cyclically_adjusted_ps_ratio         2281 non-null   float64
 19  cyclically_adjusted_price-to-fcf     2281 non-null   float64
 20  dividend_yield_%                     2281 non-null   float64
 21  fcf_yield_%                          2281 non-null   float64
dtypes: float64(17), int64(2), object(3)
memory usage: 392.2+ KB

In [37]:
def filtrar_no_numericos_a_nan(valuation):    #Filtra un DataFrame y convierte todos los valores no numéricos en NaN.
    
    return valuation.applymap(lambda x: pd.to_numeric(x, errors='coerce'))


# Filtrar y convertir no numéricos a NaN
valuation = filtrar_no_numericos_a_nan(valuation)

In [38]:
valuation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   enterprise_id                        2281 non-null   int64
 1   years                                2281 non-null   int64
 2   pe_ratio                             2037 non-null   float64
 3   pe_ratio_without_nri                 2064 non-null   float64
 4   price-to-owner-earnings              2281 non-null   float64
 5   pb_ratio                             2281 non-null   float64
 6   price-to-tangible-book               2281 non-null   float64
 7   price-to-free-cash-flow              2281 non-null   float64
 8   price-to-operating-cash-flow         2281 non-null   float64
 9   ps_ratio                             2272 non-null   float64
 10  peg_ratio                            2281 non-null   float64
 11  ev-to-revenue                        2281 non-null   float64
 12  ev-to-ebitda                         2078 non-null   float64
 13  ev-to-ebit                           2078 non-null   float64
 14  earnings_yield_(joel_greenblatt)_%   2281 non-null   float64
 15  forward_rate_of_return_(yacktman)_%  2281 non-null   float64
 16  shiller_pe_ratio                     2281 non-null   float64
 17  cyclically_adjusted_pb_ratio         2281 non-null   float64
 18  cyclically_adjusted_ps_ratio         2281 non-null   float64
 19  cyclically_adjusted_price-to-fcf     2281 non-null   float64
 20  dividend_yield_%                     2281 non-null   float64
 21  fcf_yield_%                          2281 non-null   float64
dtypes: float64(20), int64(2)
memory usage: 392.2 KB

In [ ]:
valuation.to_csv('../Clean Data/valuation/valuation_total.csv')